/* Wallet.css */
@keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  .debited-notification {
    animation: fadeOut 1s forwards;
    opacity: 1;
    transform: scale(1.1);
    background-color: #fce4e4; /* Red-100 */
    color: #f44336; /* Red */
    padding: 8px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 10px;
  }
  